/* Base Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #564759;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

a:link,
a:visited {
    color: #564759;
}

a:hover {
    color: #17e278;
}


button {
    cursor: pointer;
}

/* Container */

.container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}

/* Header */

.header {
    color: #ffffdd;
    background: #ff686b;
    padding: 3rem 0;
}

.header__title {
    color: #ffffdd;
    font-size: 3.2rem;
    margin-bottom: .4rem;
}

.header__subtitle {
    color: #ffffe6;
    font-size: 1.6rem;
    font-weight: 300;
}

a.header__title:hover,
a.header__subtitle:hover {
    color: #ffffdd;
}

a.header__title,
a.header__subtitle {
    color: #ffffdd;
}

/* Actions Bar */

.actions {
    background-color: #ffffdd;
    border-bottom: 1px solid #dedfe0;
    padding: .8rem
}

.actions__container {
    align-items: center;
    display: flex;
    max-width: 60rem;
    margin: 0 auto;
    min-height: 3rem;
    padding: 0 1.6rem;
}

.actions__container--spaced {
    justify-content: space-between
}

#last-edited {
    font-size: 0.8em;
}

#home-button {
    font-weight: 600;
}

#home-button:hover {
    color: #ff686b;
}

/* Form Inputs */

.input {
    color: #757575;
    border: 1px solid #DEDFE0;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 300;
    height: 3rem;
    margin-right: .8rem;
    padding: .4rem .8rem;
}

.dropdown {
    color: #757575;
    border-radius: 0;
    border: 1px solid #DEDFE0;
    background: white;
    font-size: 1.4rem;
    font-weight: 300;
    height: 3rem;
    margin-right: .8rem;
}

.remove-button {
    padding: 0.2em 0.5em;
}

.button {
    background: #2eff97;
    border: none;
    border-bottom: 2px solid #18d371;
    color: #ffffdd;
    font-size: 1.4rem;
    font-weight: 300;
    padding: .8rem;
    transition: background .3s ease;
}

.button:hover {
    background: #18d371;
}

.button--secondary {
    background: #8d99ae;
    color: #ffffdd;
    border-bottom: 2px solid #588293;
}

.button--secondary:hover {
    background: #588293;
}

.button--text {
    background: none;
    border: none;
    color: #564759;
}

.button--text:hover {
    background: none;
    color: #ff686b;
}

/* Note editor */

.title-input {
    border: 1px solid #DEDFE0;
    font-size: 2rem;
    font-weight: 300;
    display: block;
    margin: 2.4rem 0;
    padding: .8rem;
    width: 100%;
}

.body-input {
    border: 1px solid #DEDFE0;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 300;
    display: block;
    margin: 2.4rem 0;
    min-height: 15rem;
    padding: .8rem;
    width: 100%;
}

/* Note List Item */

.list-item {
    text-decoration: none;
    color: #564759;
    background: #ffffdd;
    border: 1px solid #ffffe6;
    margin: 1.6rem 0;
    padding: 1.6rem;
    transition: background .3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.list-item:hover {
    background: #ffffe6;
}

.list-item__title {
    font-size: 1.8rem;
    margin-bottom: .4rem
}

.list-item__subtitle {
    color: #564759;
    font-size: 1.4rem;
    font-weight: 300;
    font-style: italic;
}

.empty-message {
    color: #ffffe6;
    text-align: center;
    margin: 3.2rem 0;
}

.list-item--button {
    text-decoration: none;
    color: #564759;
    transition: background .3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center
}